

.membersBanner{
    width: 100%;
    height: 400px;
    background-image: url('../images/memberBanner2.png');
    background-size: 100% 100%; 
    padding: 10%;
    margin-bottom: 100px;
  
}

.membersBanner h1{
    margin: 0 auto;
    max-width: 700px;
    height: 100px;
    border-radius: 3px;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px  #b41e4d;
}
 body{
    overflow-x: hidden;
overflow-y: auto;
font-family: 'Playfair Display', serif;
font-style: italic;
} 


#formAndmembers{
  margin-bottom: 15px;
  margin-top: -50px;
}



.form-horizontal legend{
    font-weight: bold;
}

.Ages{
    margin-top: 20px;
}

.memberType h5{
    font-weight: bolder;
    margin-left: -18    px;
}
.memberForms{
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 2px 5px 2px 1px #ddd;
    margin-top: 27px;
}
.submit{
    margin-top: 8px;
}
.formName h4{
    font-weight: bold;
}
.members{
    box-shadow: 3px 3px 3px 2px #e7eaed;

    
}

.members:hover .colorBox1{
    position: absolute;
    background-color: rgb(210,122,112, .2);
    height: 581px;
    width: 407px;
    left: -54%;
    transform: rotate(60deg);
    top: -116%;
    border-top-right-radius: 147px;

}

.members:hover .colorBox2{
    position: absolute;
    background-color: rgba(81, 96, 168, 0.5);
    height: 350px;
    width: 290px;
    left: -32%;
    transform: rotate(90deg);
    top: -59%;
    border-top-right-radius: 147px;
    transition: .5s;

}
.name h2{
    color: #b41e4d;
}
.name p{
    color: #652551;
}

.members:hover .caption a{
        border-radius: 40px;
        color: white;

}



.activeMems{
    height:300px;
    width: 300px;
  
   
   
}

.coverTheme{
    background-color:#b41e4d;
    width: 104%;
    height: 200px;
    position: relative;
 

}
.themeBoxs{

    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}
.colorBox1{

    position: absolute;
    background-color: rgb(210,122,112, .2);
    height: 581px;
    width: 407px;
    left: -24%;
    transform: rotate(60deg);
    top: -100%;
    border-top-right-radius: 147px;
    transition: .5s;

    
}

.colorBox2{
    position: absolute;
    background-color: rgb(16,26,77, .5);
    height: 350px;
    width: 290px;
    left: -52%;
    transform: rotate(90deg);
    top: -59%;
    border-top-right-radius: 147px;
    transition: .5s;
    
}

.members{
    margin: 30px auto;
}


.proImage img{
    height:200px;
    width: 200px;
    position: absolute;
    z-index: 1;
    /* right: 25%; */
    margin-top: -120px;
    border-radius: 50%;

}
.caption{
    margin-top: 90px;
    color: cadetblue;
    font-weight: bolder;
    position: relative;
}


.caption a {
    width: 80%;;
    text-decoration: none;
    background-color: #b41e4d;
    color: white;
    padding: 15px;
    transition: .5s;
    color: white;
   

}

.btn-info{
    background-color: #b41e4d !important;
    padding: 8px;
    transition: .5s;
    border: 1px solid #b41e4d !important;
}
.btn-info:hover{
    background-color: #b41e4d;
    border-radius:20px;
    border: 1px solid #b41e4d;
}


.infos{
    text-align: center;

}
.infos a {
    color: black;
    margin: 10px 2px;
    padding: 2px;
    text-decoration: none;
    color: #892381;
  
}
.membersBanner img{
    height: 30px;
    width: 30px;
    margin-top: -10px;
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(180, 30, 77, 0.8);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.075) inset, 0 0 12px rgba(180, 30, 77, 0.6);
  outline: 0 none;
}



/* Media query css */
 /* @media screen and (max-width: 1195px) {
    .proImage img{
        height:200px;
        width: 200px;
        position: absolute;
        z-index: 1;
        right: 17%;
        margin-top: -120px;
    
    }
  }

  @media screen and (max-width: 1195px) {
    .proImage img{
        height:200px;
        width: 200px;
        position: absolute;
        z-index: 1;
        right: 20%;
        margin-top: -120px;
    
    }
  }

  @media screen and (max-width: 767px) {
    .proImage img{
        height:200px;
        width: 200px;
        position: absolute;
        z-index: 1;
        right: 36%;
        margin-top: -120px;
    
    }
  }
    
  @media screen and (max-width: 767px) {
    .proImage img{
        height:200px;
        width: 200px;
        position: absolute;
        z-index: 1;
        right: 37%;
        margin-top: -120px;
    
    }
}
    @media screen and (max-width: 367px) {
        .proImage img{
            height:200px;
            width: 200px;
            position: absolute;
            z-index: 1;
            right: 20%;
            margin-top: -120px;
        
        }
    }

        @media screen and (max-width: 291px) {
            .proImage img{
                height:200px;
                width: 200px;
                position: absolute;
                z-index: 1;
                right: 10%;
                margin-top: -120px;
            
            }
  }

   */

   
   @media screen and (max-width: 769px) {
       .membersBanner{
        margin-top: -50px; 
       }


    
}


