.navbar-default .navbar-nav li a {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    /*    padding: 15px 9px;*/
}

.navbar-default .navbar-nav > li > a:hover {
    background: #f1f1f1;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;

}



.plans {
    width: 100%;
    background: url('../img/WhatsApp%20Image%202020-09-23%20at%2010.25.01%20AM.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.plans .box{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.plans h1 {
    font-size: 45px;
    color: #fff;
    margin-top: 13px;
    padding: 100px 0px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    text-shadow: #B41E4D 0px 0px 27px;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

.plan_1 {
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;

}
.plan_1:hover {
    background: #fff;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

}



.change .plan_1 .elitepack_name {
    color: #0E1647 !important;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.change .plan_1 .elitepack_price {
    color: #C0324D;
}

/*
.change .LV_Pelite-wrap .LV_Pelite-card .plan_1 .elitepack_btn .btn btn-elitepack btn-LV-Elite butt{
    background: #000;
}
*/
/*button of premium chart*/
.change .LV_Pelite-wrap .LV_Pelite-card .elitepack_btn .btn-elitepack {
    background: #101A4D;
    color: #fff;
}

.change .LV_Pelite-wrap .LV_Pelite-card .elitepack_btn .btn-elitepack:hover {
    background: #C0324D;
    color: #fff;
}


.change .LV_Pelite-wrap .LV_Pelite-card .elitepack_features ul li {
    color: #000;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.change .LV_Pelite-wrap .LV_Pelite-card .elitepack_features ul li i {
    color: #C0324D;
}

.change .LV_Pelite-wrap .LV_Pelite-card .elitepack_dblbor {
    border-bottom: 1px solid #0E1647;
    border-top: 1px solid #0E1647;
}

.goldbor {
    height: 8px;
    border-radius: 0px 0px 5px 5px;
    background-image: -webkit-linear-gradient(251deg, #fff080, #101a4d 5%, #fff3a8 20%, #101a4d 30%, #f4ea9e 51%, #101a4d 56%, #d9bf71 64%, #101a4d 69%, #fff3a8 77%, #101a4d 92%, #fff3a8);
    background-image: -o-linear-gradient(251deg, #fff080 0, #ba8e00 5%, #fff3a8 20%, #c29a47 30%, #f4ea9e 51%, #e7d588 56%, #d9bf71 64%, #d4b768 69%, #fff3a8 77%, #c29a00 92%, #fff3a8 100%);
    background-image: linear-gradient(199deg, #fff080, #101a4d 5%, #fff3a8 20%, #101a4d 30%, #f4ea9e 51%, #101a4d 56%, #101a4d 64%, #101a4d 69%, #fff3a8 77%, #101a4d 92%, #fff3a8) !important;
    width: 100%;
}