::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}
.browse-matrimonial h2 {
    margin: 30px 0px;
    font-family: 'Qwigley', cursive;
    font-size: 57px;
    /* text-transform: uppercase; */
    font-weight: 500;
    color: #6E8A95;
    -webkit-font-smoothing: antialiased;
}


/*
.find-section .form-group .coll{
    padding-right: 54px;
    padding-left: 0px;
}
.find-section .form-group .colr{
    padding-left: 10px;
    padding-right: 0px;
}
*/

.find-section .form-group a i{
    float: right;
    margin-top: 30%;
    font-size: 140%;
    color: #fff;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    background: #c97a70;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.custom-select-trigger {
    position: relative;
    display: block;
     width: 130px; 
    padding: 0;
    border-radius: 30px;
    font-size: 13px;
    font-weight: normal;
    color: #fff;
    line-height: 50px;
    cursor: pointer;
    
}

.header-btns .phone{
   float: left;
}
.header-btns .phone li a{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}
.header-btns .phone li{
    list-style: none;
    margin: 5px 0px;
    background: #c97a70;
    padding: 10px 15px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 0px;
}
.header-btns .phone li i{
    padding-right: 5px;
}


.header-v2 .time{
    margin-top: 15px;
    background: #1c3554;
    border-radius: 30px;
}

/*sidebar css*/
#sidebar {
    width: 250px;
    position: fixed;
    font-family: 'Roboto', sans-serif;
    top: 0;
    right: -250px;
    height: 100vh;
    z-index: 10000;
    color: #fff;
    transition: all 0.5s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c5393f+30,a5224b+69 */
    background: rgb(234, 245, 249);
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #rgba(201, 122, 112, 0.3) 30%, #(201, 122, 112, 0.69) 69%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #rgba(201, 122, 112, 0.3) 30%, #(201, 122, 112, 0.69) 69%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgb(234, 245, 249) 30%, rgb(234, 245, 249) 69%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c5393f', endColorstr='#a5224b', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.side-feedback p a {
    color: #fff;
}

.side-feedback p a {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
/*side bar*/

a.register {
    background: #185A63;
    color: #fff;
    padding: 8px;
    font-size: 1.1em;
    display: block;
}
.tiny-footer a{
    font-size: 16px ;
}


#sidebar ul.components li a:hover{
    color: #fff;
    background: #185A63;
}
#sidebar ul.components li a{
    color: #185A63;
}


.side-feedback p{
    color: #000;
}


.side-feedback p a{
    color: #E10000;
}

.side-social a{
    color: #0035F4;
}
.side-social a:hover{
    color: #FF0000;
}

.side-feedback h3{
    color: #000;
}

a.login,
a.login:hover {
    background: #185A63 !important;
    color: #fff !important;
    border: solid #fff 1px;
    padding: 8px;
    font-size: 1.1em;
    display: block;
}

#sidebar i{
    color: #185A63;
}


/*module section overlay*/
section.module p {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 20px;
}

.btn-big {
    padding: 12px 50px;
    margin-top: 10px;
}
/*-------------------------------Membership section------------------------------------*/

.feature-info h3 {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 10px;
}

.feature-info p {
    font-size: 13px;
    font-weight: normal;
}

.feature-block {
    min-height: 162px;
    margin-bottom: 5px;
}

.feature-icon {
    margin-bottom: 30px;
    line-height: 1;
}

/*
.membership-icon {
    background: url(../images/LV-icons.png);
    margin: 0 auto;
}
*/

.micon-contact {
    background-position: -15px -5px;
    width: 48px;
    height: 48px;
}

.micon-email {
    background-position: -15px -73px;
    width: 48px;
    height: 48px;
}

.micon-chat {
    background-position: -15px -141px;
    width: 48px;
    height: 48px;
}

.android-app {
    background-position: -10px -265px;
    width: 131px;
    height: 48px;
    display: inline-block;
}

.ios-app {
    background-position: -11px -212px;
    width: 131px;
    height: 48px;
    display: inline-block;
}

.member-know {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
}



.image_slider .item_one {
    width: 180%;
}

.image_slider .col_space {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.section-space40{
    margin-top: 50px;
}

.section-space40 .section-space40_bg {
    background: #000;
}

.section-space40 img {
    width: 20%;
    margin-bottom: 10px;
}
.section-space40 h2 {
    /* margin: 30px 0px; */
    margin: 0px 0px;
    font-family: 'Qwigley', cursive;
    font-size: 57px;
    /* text-transform: uppercase; */
    font-weight: 500;
    color: #6E8A95;
    -webkit-font-smoothing: antialiased;
}

.section-space40 .contact {
    width: 28%;
}

.section-space40 .section-space40 .section-space40 .section-space40 .member-ship {
    margin-bottom: 20px;

}



ul.inline-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

ul.inline-links > li {
    display: inline-block;
    padding: 0 .4em 0 .4em;
    position: relative;
    font-size: 0.75rem;
}

ul.inline-links.inline-links--style-2 > li:not(:last-child) {
    padding-right: 12px;
}

ul.inline-links.inline-links--style-2 > li,
ul.inline-links.inline-links--style-2 > li > a {
    font-size: 13px;
}

/*-----------------------------------------------------------------------------------*/


.module .mobileapp-img img{
    width: 300px;
}



/*bg video starts*/
/*bg video starts*/
#bg_video {
    margin: 100px 0px;
}

/*
#bg_video .left{
    
}
*/
#bg_video .right {
    margin-top: 60px;
}
.vid-info{
    background: rgb(233 191 184);
    margin: 30px 0 0 -130px;
    padding-left: 130px;
    position: relative;
    border-radius: 40px;
    border: 2px solid #A96B5E;
    box-shadow: 1px 9px 15px 2px #A96B5E;
}

#bg_video .right p {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    padding: 20px;
}
#bg_video{
 background-image: url("../../assets/images/happystorie_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 80px;
    padding-bottom: 80px;
}
.video-cont{
    position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  z-index: 1;
  border-radius: 20px;
}
.video-cont iframe{
position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


/*bg video ends*/
/*gallary section*/

/*
#bg_gallary {
    background: #F4F4F4;
}

#bg_gallary h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;

}

#bg_gallery .grid-container div img {
    width: 100%;
    filter: blur(0%) !important;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}

#bg_gallary .img img{
    width: 200px;
    height: 200px;
}
#bg_gallery .grid-container {
    columns: 5 200px;
    column-gap: 1.5rem;
    width: 90%;
    margin: 0 auto;
}

#bg_gallery .grid-container div {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 2px black;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}

#bg_gallery .grid-container div:hover img {
    filter: grayscale(0);
}

#bg_gallery .grid-container div:hover {
    border-color: coral;
}

#bg_gallery .grid-container div img {
    width: 100%;
    border-radius: 5px;
    -webkit-transition: all linear 0.25s ease-in-out;
    -o-transition: all linear 0.25s ease-in-out;
    -moz-transition: all linear 0.25s ease-in-out;
    -ms-transition: all linear 0.25s ease-in-out;
}

#bg_gallery .grid-container div img:hover {
    width: 100%;
    filter: grayscale(100%);
    border-radius: 5px;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
}

#bg_gallery .grid-container div p {
    margin: 5px 0;
    padding: 0;
    text-align: center;
    font-style: italic;
}
*/

/*/gallery starts/*/
.glry {
  column-width: 300px;
  column-gap: 10px;
  padding: 5px;
}
.glry .grd{
    margin-bottom: 5px;
    overflow: hidden;
}


.glry img{
  -webkit-filter: grayscale(0%) blur(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: all .5s;
  margin-bottom: 10px;
}
.glry img:hover{
  z-index: 999;
  -webkit-filter: grayscale(70%) blur(0.5px);
  transform: scale(0.95);
  box-shadow: 0px 0px 25px 0px rgb(28 53 84 / 90%);
}

.glry img {
  width: 100%;
  cursor: pointer;
    /border: 1px solid #1c3554;/
    box-shadow: 0px 0px 8px 0px rgb(28 53 84 / 60%);
}

.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  background: #7f8c8d;
  perspective: 1000;
  z-index: 9999;
}

.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  opacity: 0.5;
  background-position: center;
  background-size: cover;
}

.lightbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  max-height: 95vh;
  max-width: calc(95vw - 100px);
  transition: 0.8s cubic-bezier(0.7, 0, 0.4, 1);
  transform-style: preserve-3d;
}

[class^="arrow"] {
  height: 200px;
  width: 50px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

[class^="arrow"]:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 15px;
  height: 15px;
}

.arrowr {
  right: 0;
}

.arrowr:after {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.arrowl {
  left: 0;
}

.arrowl:after {
  border-left: 1px solid white;
  border-top: 1px solid white;
}

.close {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.4);
  margin: 20px;
  cursor: pointer;
  opacity: 1;
}

.close:after,
.close:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 100%;
  background: #e74c3c;
}

.close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}


/*/gallary section ENDS/*/


/*gallary section*/
.bg_counter{
    margin: 50px 0px;
    
}
.bg_counter .counter_part{
    background: #c97a70;
    padding: 20px 0px;
    border-radius: 20px;
}
.bg_counter .counter_part .coun{
    color: #fff;
    font-size: 35px;
    font-family: ui-monospace;
    padding: 0px 20px;
}
/*map start*/
#bg_map {
/*    background: rgba(186, 186, 188, 0.6);*/
    
}

/*footer part*/
.footer{

    background: #EAF5F9;
}
.footer .list li {
    -webkit-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
}

.footer .list li:hover {
    padding-left: 5px;
    -webkit-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
}

.footer .icons {
    width: 36px;
    margin: 0;
    padding: 0;
}


.footer .icons_one {
    background: #fff;
    width: 50px;
    height: 35px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;


}


.footer .showmore {
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
    color: #6e8a95;
    border: 1px solid #6e8a95;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 10px 100px / 120px;
    text-align: center;
    padding: 5px 10px;
}

.footer .showmore:hover {
    color: #37fa7a;
    border: 1px solid #37fa7a;

}

/*show more*/

.social-icons .fa.utube {
    background: #f01010;
}

.social-icons .fa.chat {
    background: #09d34f;
}

.social-icons .fa-yahoo {
    background: #6001D2;
}

.social-icons .fa-link {
    background: #3C599F;
}

.social-icons .fa-whatsapp {
    background: #2AA91A;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
body{
    width: 100%;
}

.real-wedding-img a img{
    height: 150px;
    width: 150px;
    margin-top: 20px;
}